.admin-container {
  display: flex;
  width: 1100px;
  height: 85vh;
  backdrop-filter: blur(8px);
  background: rgba(230, 227, 227, 0.07);
  color: #fff;
  font-family: "Inter", sans-serif;
  border-radius: 12px;
}

.sidebar {
  width: 290px;
  background: rgba(7, 0, 136, 0.12);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  padding: 28px;
  border-radius: 12px;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 35px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.menu li:hover {
  background: rgba(255, 255, 255, 0.15);
}

.menu li a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}


.content {
  flex: 1;
  overflow-y: auto;
}


.header {
  display: flex;
  align-items: center;
  padding: 18px 0;
  margin-bottom: 25px;
}

.header h1 {
  font-size: 28px;
  font-weight: 600;
  margin-left: 30px;
}


.cards {
  display: grid;
  width: 750px;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 0 4%;
}

.card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 14px;
  backdrop-filter: blur(18px);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  height: 120px;
}

.icon.big {
  font-size: 36px;
  opacity: 0.8;
}

.card p {
  margin: 0;
  font-size: 14px;
  opacity: 0.7;
}

.card h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}


.dashboard-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 5%;
}

.menu li a {
  color: inherit;       
  text-decoration: none; 
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}



.panel {
  padding: 35px; 
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(16px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}


.panel-form {
  max-width: 650px; 
}

.panel-form form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.panel-form label {
  font-size: 15px;
  font-weight: 500;
}

.panel-form input,
.panel-form select {
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
}

.panel-form button {
  margin-top: 16px;
  padding: 14px;
  background: #4c8df5;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.panel-form button:hover {
  background: #3574d4;
}
