
.profissional-container {
  display: flex;
  width: 1100px;
  height: 85vh;
  backdrop-filter: blur(8px);
  background: rgba(230, 227, 227, 0.07);
  color: #fff;
  border-radius: 12px;
}

.sidebar {
  width: 260px;
  background: rgba(7, 0, 136, 0.12);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  padding: 28px;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 35px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

.menu li.active,
.menu li:hover {
  background: rgba(255, 255, 255, 0.18);
}

.content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.header h1 {
  text-align: center;
  margin-bottom: 30px;
}

.card,
.perfil-card {
  max-width: 420px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.23);
}

.disponibilidade-container {
  margin-top: 15px;
  width: 400px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.dias-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin: 10px 0 20px 0;
}

.dia-item {
  display: flex;
  align-items: center;
  padding: 8px 18px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  transition: 0.2s;
}

.dia-item.selected {
  background: #4c8df5;
  border-color: #4c8df5;
}

.dia-item input {
  display: none;
}

.panel-form button {
  margin-top: 16px;
  padding: 14px;
  background: #4c8df5;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;

}
.panel-form .btn-submit {
  width: 100%;
}


.profissionais-lista .header {
  position: sticky;
  top: 0; 
  padding: 15px 0;
  z-index: 10;

}

.profissional-card {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 12px;
  background: rgba(44, 43, 43, 0.948);
  border: 1px solid rgba(255, 255, 255, 0.15);
  width: 500px; 
  max-width: 100%;

}


.profissional-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profissional-info h3 {
  margin: 0;
  font-size: 18px;
  color: #fff;
  
}

.profissional-info p {
  margin: 2px 0;
  font-size: 14px;
  color: #fff;
}

.profissional-avatar {
  font-size: 28px;
  color: #35d03f;
}

.btn-delete {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.btn-delete:hover {
  background-color: #c0392b;
}



