
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, #74ebd5, #9face6);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cadastro-form-cadastro:hover {
  transform: translateY(-5px);
}

.cadastro-form-cadastro h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
  font-size: 28px;
}


.cadastro-form-cadastro input,
.cadastro-form-cadastro select {
  width: 100%;
  padding: 14px;
  border: 2px solid #ddd;
  border-radius: 12px;
  margin-top: 5px;
  font-size: 14px;
  transition: all 0.3s ease;
}

.cadastro-form-cadastro input:focus,
.cadastro-form-cadastro select:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 10px rgba(74,144,226,0.3);
}

.cadastro-campo-senha input {
  border: none;
  flex: 1;
  padding: 14px;
  font-size: 14px;
}

.cadastro-campo-senha:focus-within {
  border-color: #4a90e2;
  box-shadow: 0 0 10px rgba(74,144,226,0.3);
}

.cadastro-icone-olho {
  width: 22px;
  height: 22px;
}

.btn-submit {
  width: 100%;
  padding: 14px;
  margin-top: 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  background: #4a90e2;
  color: #fff;
  transition: all 0.3s ease;
}

.btn-submit:hover {
  background: #3574c8;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

