
.admin-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #74ebd5, #9face6);
}


.admin-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: #2196f3;
  color: #ffffff;
  position: sticky;
  top: 0;
  border-radius: 10px;

}

.admin-navbar h2 {
  margin: 0;
}

.nav-tabs {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-tabs li {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  transition: 0.2s;
}

.nav-tabs li.active,
.nav-tabs li:hover {
  background-color: #1976d2;
}

.admin-navbar button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}


.admin-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
  background: linear-gradient(to right, #74ebd5, #9face6);

}


.card button:hover {
  background-color: #3574c8;
}


.section-profissionais table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.section-profissionais th, 
.section-profissionais td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.section-profissionais th {
  background: #f4f4f4;
  font-weight: 600;
}

.section-profissionais tr:nth-child(even) {
  background: #fafafa;
}

.section-profissionais tr:hover {
  background: #eaeaea;
}

.btn-remove {
  background: #ff4747;
  border: none;
  padding: 6px 12px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.btn-remove:hover {
  background: #c63636;
}
